# SPDX-License-Identifier: Apache-2.0
-r ../runtime-config/requirements.txt
meridian-storage-clickhouse==1.1.1
meridian-storage-opensearch==1.1.0
meridian-storage-valkey==1.1.0
meridian-storage-s3==1.0.4
meridian-storage-oci==1.1.0
meridian-storage-kafka==1.1.0
meridian-storage-object-common==1.0.3
meridian-storage-streaming==1.0.1
